<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>mls</string>
	<key>CFBundleIconFile</key>
	<string>mls.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cedlepingouin.mls</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MLS 0.5beta1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.5beta1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
		<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
                <!-- Here goes the file formats your app can read -->
				<string>lua</string>
				<!--<string>jpeg</string>-->
			</array>
			<!--
			<key>CFBundleTypeIconFile</key>
			<string>'icon_for_your_documents.icns'</string>
			-->
			<key>CFBundleTypeName</key>
			<string>Lua scripts</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<!--<string>Editor</string>-->
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		</array>
</dict>
</plist>
