<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.wxlua.apps</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>wxLua</string>
	<key>CFBundleIconFile</key>
	<string>mls.icns</string>
	<key>CFBundleName</key>
	<string>wxLua</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.8.7</string>
	<key>CFBundleShortVersionString</key>
	<string>2.8.7</string>
	<key>CFBundleGetInfoString</key>
	<string>wxLua version 2.8.7, (c) 2002-2006 wxWidgets</string>
	<key>CFBundleLongVersionString</key>
	<string>2.8.7, (c) 2002-2006 wxWidgets</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2002-2006 wxWidgets</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
